.editVehicleComponent {
    margin: 20px;
}

.vehicleForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.vehicleForm input, .vehicleForm textarea, .vehicleForm button {
    margin-bottom: 10px;
}