.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background: #444444;
    padding-right: 20px;
}

.navElements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.displayUsername, .loginOut, .navLinks {
    margin-right: 30px;
    color: white;
}

.navLinks:link, 
.navLinks:visited, 
.navLinks:hover, 
.navLinks:active, 
.loginOut:link, 
.loginOut:visited, 
.loginOut:hover, 
.loginOut:active {
    text-decoration: none;
}